---
import Layout from '../components/Layout.astro'
import SubmissionForm from '../components/SubmissionForm'
---

<Layout title="Submit Module">
  <section class="submission-panel">
    <div class="submission-copy">
      <h1>Submit Your Xposed Module</h1>
      <p>Create a prefilled issue in <a href="https://github.com/Xposed-Modules-Repo/submission" target="_blank" rel="noreferrer">Xposed-Modules-Repo/submission</a>.</p>
    </div>
    <SubmissionForm client:load />
  </section>
</Layout>
