<footer
  class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10"
>
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="https://lsposed.org/privacy">Privacy Policy</a>
  </nav>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} - All right reserved by LSPosed
    </p>
  </aside>
</footer>
