---
import ModuleCard from './ModuleCard.astro'
import type { ModuleListItem } from '../lib/types'

interface Props {
  modules: ModuleListItem[]
}

const { modules } = Astro.props
---

<div class="module-grid">
  {modules.map(module => <ModuleCard module={module} />)}
</div>
