---
import Search from "astro-pagefind/components/Search"
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1 truncate">
    <a class="btn btn-ghost text-xl" href="/">Xposed Module Repository</a>
  </div>
  <div class="flex-none">
    <button class="btn btn-ghost btn-circle" id="searchButton">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
    </button>
  </div>
</div>
<dialog id="searchDialog" class="modal">
  <div class="modal-box" style="max-height: 90vh">
    <Search
      id="search"
      className="pagefind-ui"
      uiOptions={{ showImages: false }}
    />
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script>
  document.getElementById("searchButton")?.addEventListener("click", () => {
    const dialog: HTMLDialogElement | null =
      document.querySelector("#searchDialog")
    dialog?.showModal()
    setTimeout(() => {
      document.querySelector("input")?.focus()
    }, 100)
  })
</script>

<style is:global>
  .pagefind-ui__result p,
  .pagefind-ui__result a,
  .pagefind-ui__message {
    color: var(--color-base-content) !important;
  }
</style>
