body {
  margin 0
  font-family Roboto
}

@media (prefers-color-scheme: dark) {
  body {
    background-color #303030 !important
  }
}

.splash {
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  z-index -1
  display flex
  justify-content center
  align-items center
  color #999
  font-size 30px
  font-family sans-serif
}

.ssr {
  display none
}
