body {
  margin 0
  font-family Roboto
}

@media (prefers-color-scheme: dark) {
  body {
    background-color #303030 !important
    .slash {
      color #ffffff
    }
  }
}

.splash {
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
}