---
import "../styles/global.css"
import { ClientRouter } from "astro:transitions"
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer.astro"

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        title
          ? `${title} - Xposed Module Repository`
          : `Xposed Module Repository`
      }
    </title>
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content={title ? title : `Xposed Module Repository`} data-pagefind-meta={title ? `title[content]` : null} data-pagefind-weight="9.0"/>
    {
      description &&
        <meta property="og:description" content={description} data-pagefind-meta="description" data-pagefind-weight="8.0" />
        <meta property="twitter:card" content="description" />
    }
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9X260JGYQY"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9X260JGYQY');
    </script>
    <meta name="google-site-verification" content="No7OKPupiyITd5MI15QlaU1_u9raHcajSn8ffTPUGNI" />
    <script async is:inline src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9024466979216375" crossorigin="anonymous"></script>
    <ClientRouter />
  </head>
  <body>
    <NavBar />
    <div class="lg:max-w-2/3 xl:max-w-1/2 ml-auto mr-auto">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style></style>
