---
import "../styles/global.css"
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer.astro"

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        title
          ? `${title} - Xposed Module Repository`
          : `Xposed Module Repository`
      }
    </title>
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content={title ? title : `Xposed Module Repository`} data-pagefind-meta={title ? `title[content]` : null} data-pagefind-weight="9.0"/>
    {
      description &&
        <meta property="og:description" content={description} data-pagefind-meta="description" data-pagefind-weight="8.0" />
        <meta property="twitter:card" content="description" />
    }
  </head>
  <body>
    <NavBar />
    <div class="lg:max-w-2/3 xl:max-w-1/2 ml-auto mr-auto">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style></style>
